<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
.gray{
	filter:grayscale(100%);
}
</style>
<th:block th:replace="~{/layout :: setFragment(~{this::content})}">
<th:block th:fragment="content">
	<h2>도감 상세페이지</h2>
	
	<div>
		No.[[${pvo.pokemonId}]]
		[[${pvo.name}]] <br>
		<img alt="" th:src="@{${pvo.image}}"> <br>
		특징 : [[${pvo.flavor}]] <br>
		키 : [[${pvo.height}/10]]m 몸무게 : [[${pvo.weight}/10]]kg <br>
		타입 : [[${pvo.type}]] <br>
		분류 : [[${pvo.genus}]] <br>
		도감점수 : [[${pvo.score}]] 점 <br>
	
	</div>


</th:block>
</th:block>

<script th:inline="javascript">
	let memberId = [[${memberId}]]
</script>

