<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
.gray{
	filter:grayscale(100%);
}
</style>
<th:block th:replace="~{/layout :: setFragment(~{this::content})}">
<th:block th:fragment="content">
	<h2>도감 상세페이지</h2>
	
	<div>
		No.[[${pvo.pokemonId}]]
		[[${pvo.name}]] <br>
		<img alt="" th:src="@{${pvo.image}}" height="150" width="150"> <br>
		특징 : [[${pvo.flavor}]] <br>
		타입 : ----- 키 : ------ 분류 : ------- <br>
		종족값 : [[${pvo.score}]]
	</div>


</th:block>
</th:block>

<script th:inline="javascript">
	let memberId = [[${memberId}]]
</script>

