<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
.gray{
	filter:grayscale(100%);
}
</style>
<th:block th:replace="~{/layout :: setFragment(~{this::content})}">
<th:block th:fragment="content">
<div class="nes-container with-title container" style="width:60%">
	<p class="title" style="font-size:30px;margin-top:-40px;background-color: rgb(206, 231, 249);">[[${memberId}]]의 도감페이지</p>

	<input class="nes-input" type="text" id="search" placeholder="이름이나 번호 입력">
	<button class="nes-btn" id="genAll">전체</button>
	<button class="nes-btn" id="gen1">1세대</button>
	<button class="nes-btn" id="gen2">2세대</button>
	<button class="nes-btn" id="gen3">3세대</button>
	<button class="nes-btn" id="gen4">4세대</button>
	<button class="nes-btn" id="added">등록한 것만 보기</button>
	<div class="nes-table-responsive">
  <table class="nes-table is-bordered is-centered">
    <thead>
      <tr>
        <th>Table.is-bordered</th>
        <th>Table.is-centered</th>
		
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Thou hast had a good morning</td>
        <td>Thou hast had a good afternoon</td>

      </tr>
    </tbody>
  </table>
</div>
	<div id="pokedexLine">
		
	</div>
	<button id="more" style="display:none">+</button>
</div>
</th:block>
</th:block>
<script th:inline="javascript">
	let memberId = [[${memberId}]]
</script>
<script src="/js/pokedexList.js"></script>