<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poke.www.repository.FileMapper">

	<insert id="insertFile">
		insert into file (uuid, save_dir, file_name, bno, file_size)
		values(#{uuid}, #{saveDir}, #{fileName}, #{bno}, #{fileSize})
	</insert>
	
	<delete id="deleteFile">
		delete from file where bno = #{bno}
	</delete>
	
	<select id="selectFile">
		select * from file where bno = #{bno}
	</select>

</mapper>