<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poke.www.repository.MemberMapper">

<insert id="insertMember">
	insert into member (member_id,password,name,birth,email,phone)
	values(#{memberId},#{password},#{name},#{birth},#{email},#{phone})
</insert>

<select id="selectMemberById">
	select * from member where member_id=#{memberId}
</select>

<update id="updatePointById">
	update member set point = point - #{param1} where member_id = #{param2}
</update>
</mapper>