<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poke.www.repository.MyMapper">

<select id="selectOrderProductList">
	select * from order_product o join product p on o.product_id = p.product_id  where member_id = #{memberId}
</select>

<insert id="insertChargeHistory">
	insert into order_point (member_id, point)
	values (#{param1}, #{param2})
</insert>

<select id="selectOrderPointList">
	select * from order_point where member_id = #{memberId}
</select>

<select id="selectMarketItemsByMemberId">
	select * from market_item m join pokemon p on m.pokemon_id = p.pokemon_id where member_id = #{memberId}
</select>
</mapper>