<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poke.www.repository.RankingMapper">

	<select id="selectMemberListByScore">
		select * from member order by score desc
		limit #{pageStart}, #{qty}
	</select>
	
	<select id="selectMemberCount">
		select count(member_id) from member
	</select>
	
	<insert id="insert">
		insert into ranking(member_id)
		values(#{memberId})
	</insert>
	
	<select id="selectMemberListOrderByScore">
		select member_id from member order by score desc
	</select>
	
	<update id="updateRanking">
		update ranking set ranking = #{param2} where member_id = #{param1}
	</update>

</mapper>