<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poke.www.repository.StorageMapper">

	<insert id="insertItem">
		insert into item_storage (member_id, product_id)
		values (#{param1}, #{param2})
	</insert>

	<select id="selectItemsByMemberId">
		select * from item_storage s 
		join product p on s.product_id = p.product_id
		where member_id = #{memberId}
	</select>
	
	<delete id="deleteItemByStorageId">
		delete from item_storage where storage_id = #{storageId}
	</delete>
	
	<select id="selectProductIdByStorageId">
		select product_id from item_storage where storage_id = #{storageId}
	</select>
	
	<select id="selectProductByStorageId">
		select * from product 
		where product_id = 
		(select product_id from item_storage where storage_id = #{storageId});
	</select>
	
	<insert id="insertPokemon">
		insert into pokemon_storage (member_id, pokemon_id)
		values (#{param1}, #{param2})
	</insert>
	
	<select id="selectPokemonsByMemberId">
		select * from pokemon_storage s 
		join pokemon p on s.pokemon_id = p.pokemon_id
		where member_id = #{memberId}
	</select>
	
	<delete id="deletePokemonByStorageId">
		delete from pokemon_storage where storage_id = #{storageId}
	</delete>
	
	<select id="selectPokemonByStorageId">
		select * from pokemon_storage s 
		join pokemon p on s.pokemon_id = p.pokemon_id
		where storage_id = #{storageId}
	</select>
	
	<select id="selectPokemonsByMemberIdAndNotInPokemonIds">
		select * from pokemon_storage s 
		join pokemon p on s.pokemon_id = p.pokemon_id
		where member_id = #{param1} and s.pokemon_id not in (${param2}) 
	</select>
	
</mapper>