<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout :: setFragment(~{this::content})}">

	<th:block th:fragment="content">
		<hr>
		<br>


		<h2>게시판</h2>
		<br>

		<form action="/board/modify" method="post" id="modForm">


			<div>
				번호 : <input type="text" name="bno" class="form-control" id="bno" th:value="${bvo.bno }" readonly>
			</div>
			<div>
				제목 : <input type="text" name="title" class="form-control" id="title" th:value="${bvo.title }" readonly>
			</div>

			<div>
				작성자 : <input type="text" name="writer" class="form-control" id="writer" th:value="${bvo.writer }"
					readonly>
			</div>
			<div>
				등록일 : <input type="text" name="regAt" class="form-control" id="regAt" th:value="${bvo.regAt }" readonly>
			</div>
			<div>
				내용 :
				<textarea class="form-control" name="content" id="content" readonly>[[${bvo.content}]]</textarea>
			</div>

			<button type="button" id="modBtn">수정</button>

			<button type="button" id="delBtn">삭제</button>

		</form>
		
		<form action="/board/delete" method="post" id="delForm">
				<input type="hidden" th:value="${bvo.bno}" name="bno">
		</form>

		<br>
		<br>
		<hr>

	</th:block>

</th:block>

<script src="/js/board/modify.js"></script>