<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
ul {
	list-style: none;
}
</style>
<th:block th:replace="~{/layout :: setFragment(~{this::content})}">

	<th:block th:fragment="content">
			<div class="nes-container with-title container" style="width:60%">
	<p class="title" style="font-size:30px;margin-top:-40px;background-color: rgb(206, 231, 249);">[[${bdto.boardVO.title}]]</p>

		<br>

		<div>
		<form action="/board/modify" method="post" id="modForm" enctype="multipart/form-data">

				
			<div class="nes-field">
				말머리<input class="nes-input" type="text" name="bno" id="bno" th:value="${bdto.boardVO.category}" readonly disabled="disabled" style="width: 100px;">
			</div><br>
			<div class="nes-field">
				번호<input type="text" name="bno" class="nes-input" id="bno" th:value="${bdto.boardVO.bno}" readonly style="width: 200px;">
			</div><br>
			<div class="nes-field">
				제목<input type="text" name="title" class="nes-input" id="title" th:value="${bdto.boardVO.title}" readonly style="width: 400px;">
			</div><br>
			<div class="nes-field">
				내용<textarea class="nes-textarea" name="content" id="content" readonly style="width: 1064px; height: 400px;">[[${bdto.boardVO.content}]]</textarea>
			</div><br>
			
			<!-- 파일 표시 라인 -->
			<div>
				<ul>
					<li th:each="fvo : ${bdto.flist}">
						<div>
							<img style="width: 300px; height: 300px;" th:src="@{|/upload/${fvo.saveDir}/${fvo.uuid}_${fvo.fileName}|}">
						</div> 

						<div>
							<div class="fw-bold">[[${fvo.fileName}]]
							<button type="button" class="fileDelBtn" th:data-uuid="${fvo.uuid}" style="display : none;">파일삭제</button></div>
						</div>
					</li>
				</ul>
			</div>
			
			<div class="nes-field">
				작성자<input type="text" name="writer" class="nes-input" id="writer" th:value="${bdto.boardVO.writer}" readonly style="width: 100px;"> 
			</div><br>
			<div class="nes-field">
				작성일<input type="text" name="regAt" class="nes-input" id="regAt" th:value="${bdto.boardVO.regAt}" readonly style="width: 200px;">
			</div><br>
			
							<!-- 파일 삭제 버튼 누르면 버튼에 해당하는 이미지의 UUID를 input 창에 담기 위함-->
							<input type="hidden" id="uuids" name="uuids">
			
			<!-- file 입력 라인 추가 -->
			<div style="display: none" id="fileDiv">
				<input type="file" name="files" id="files" multiple="multiple" style="display: none;"><br>
				<button type="button" class="btn btn-success" id="trigger">사진 등록</button>
			</div>
			<!-- 파일 목록 표시라인 -->
			<div id="fileZone">
				
			</div>
			
			<th:block th:if="${session.loginMemberId == bdto.boardVO.writer}">
			
			<button type="button" id="changeBtn" class="nes-btn is-primary">수정</button>

			<button type="button" id="delBtn" class="nes-btn is-error">삭제</button>
			</th:block>
		</form>
		</div>
		
		<form action="/board/delete" method="post" id="delForm">
				<input type="hidden" th:value="${bdto.boardVO.bno}" name="bno">
		</form>
		<br>
		<hr>
		<!-- 댓글 -->
		<div>
			<h4>댓글 작성</h4>
			<div class="commentBox"></div>
			<span id="cmtWriter">작성자 : [[${session.loginMemberId}]]</span>
			<div class="nes-field">
			<input type="text" id="cmtText" class="nes-input" style="width: 600px;"><br>
			</div>
			<button type="button" id="cmtRegBtn" class="nes-btn is-success">등록</button>
		</div>
		<hr>
		<!-- 댓글 표시 라인 -->
		<ul id="cmtListArea">
			<li>
				<div>
					<div>작성자</div>
					<input type="text">
				</div>
			</li>
		</ul>

		<br>
		<br>
		<hr>

</div>
	</th:block>

</th:block>

<script th:inline="javascript">
	let bnoVal = [[${bdto.boardVO.bno}]];
</script>


<script src="/js/board/modify.js"></script>
<script src="/js/board/file.js"></script>
<script src="/js/comment/register.js"></script>

<script type="text/javascript">
	spreadCommentList(bnoVal);
</script>