<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
.profileImage{
	width:56px;
	height:56px;
	border: 1px solid transparent;
	border-radius:50%;
}
</style>
<th:block th:replace="~{/layout :: setFragment(~{this::content})}">
<th:block th:fragment="content">
	<h2>프로필 수정</h2>

	<div>
		<div id="inputDiv">
			<input type="file" name="profile" id="profile" accept="image/jpeg,image/jpg,image/png" style="display:none;">
		</div>
		<div id="img">
			<img id="tmpimg" class="profileImage" th:src="|/upload/profile/${session.loginMember.hasProfile == 'y' ? session.loginMember.memberId+'.png' : 'default/default.png'}|">
		</div>
		<button type="button" id="trigger">프로필 이미지 선택</button>
		<button type="button" id="resetBtn">프로필 이미지 초기화</button>
	</div>
	<button id="submitBtn" type="submit">적용</button>

</th:block>
</th:block>
<script th:inline="javascript">
	let memberId = [[${session.loginMemberId}]]
</script>
<script src="/js/myAccount.js"></script>
