<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout :: setFragment(~{this::content})}">
<th:block th:fragment="content">
	<h2>포켓몬 거래 관리</h2>
	<table>
		<tr th:each="trade:${tradeList}">
			<td>
				[[${trade.seller == session.loginMemberId ? '[판매]' : '[구매]'}]]
			</td>
			<td>
				거래물품 : [[${trade.name}]]
			</td>
			<td>
				가격 : [[${trade.price}]]
			</td>
			<td>
				거래 일자 : [[${trade.tradeDate}]]
			</td>
			
		</tr>	
	</table>

</th:block>
</th:block>
