<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/storagePokemon.css">
<style>
.pokeImage{
	display: flex;
	justify-content: space-between;
	margin-top: 120px;
}
.farmContainer{
	display: flex;
	justify-content: space-between;
/* 	  display: flex;
  justify-content: center;
  align-items: center; */
}
.successBtn{
	display: flex;
	justify-content: center;
}
.farmAddBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
}
.farmBtn{
	text-align: center;
}
.timer {
  	text-align: center;
  	font-size: 20px;
}


</style>

<th:block th:replace="~{layout :: setFragment(~{this::content})}">
	<th:block th:fragment="content">
	<div class="nes-container with-title container" style="width:30%">
	<p class="title" style="font-size:30px;margin-top:-40px;background-color: rgb(206, 231, 249);">[[${memberId}]] 님</p>
	
	<div  class="farmContainer">	
		<div style="background-image:url(https://img.freepik.com/premium-vector/pixel-art-game-background-grass-sky-clouds_210544-60.jpg); background-size:contain; width: 600px; height: 294px; ">
			
	
			
			<div class="farmContent">
			<!-- 농장 등록시 등록한 포켓몬 표시 -->
				<th:block th:if="${farm != null}">
			<!-- 
					<div>등록시간 : [[${farm.regDate}]]</div>
					<div>보상시간 : [[${farm.endDate}]]</div>
					<div>현재시간 : [[${now}]]</div> -->
						<div class="timer">
							<span id="timer"></span> 
						</div>
						
				
			
					<div class="pokeImage">
						<img th:src="${image[0]}">
						<img th:src="${image[1]}">
						<img th:src="${image[2]}">
						<img th:src="${image[3]}">
						<img th:src="${image[4]}">
					</div>
					
					<th:block th:if="${session.loginMember != null && session.loginMemberId == memberId}">
						<!-- 타이머 -->
						<br>
						<!-- <a th:if="${rnTime > 0}" th:data-value="${rnTime}" id="timer">보상까지 남은시간 : [[${rnTime}]]</a> -->
						<!-- <input type="text" id="timer" th:value="${rnTime}" th:if="${rnTime > 0}"> -->
						 
						<input type="hidden" id="min" th:value="${rnTime/60}" th:if="${rnTime > 0}"> 
						<input type="hidden" id="sec" th:value="${rnTime%60}" th:if="${rnTime > 0}">
						
						<!-- 타이머 시간 끝 -->
						<th:block th:if="${rnTime <= 0}">
						<div class="successBtn">	
							<form th:action="|/farm/del/${memberId}|" method="post">
								<button id="farmDelBtn" style="visibility: visible;" class="nes-btn is-primary">보상받기</button>						
							</form>		
						</div>			
						</th:block>
					</th:block>
		
			</th:block>
			
			<div class="farmAddBtn">
			<th:block th:if="${farm == null}">
				<button th:if="${session.loginMember != null && session.loginMemberId == memberId}" 
				id="farmAddBtn" class="nes-btn is-success">추가
				</button>	
			</th:block>
			</div>
			
			</div>

			
			</div>
			
		</div>
		
		<div th:if="${ranking != '미등록'}">랭킹 : <span class="nes-text is-error">[[${ranking}]] 등</span></div>
		<div th:if="${ranking == '미등록'}">랭킹 : <span class="nes-text is-error">[[${ranking}]]</span></div>
		<div>도감 : <span class="nes-text is-primary">[[${per}]]</span> %</div>

	</div>
	
	
	<div id="modal" class="modal">
		<div class="modal-content" id="modal-content">
			<span class="modal-close">&times;</span>
			
			<div>
			<form th:action="|/farm/add/${memberId}|" method="post">
				<div class="farmList">
				<ul>
					<li th:each="pokemon:${list}">
						<label>
							<input type="checkbox" class="nes-checkbox" onclick="countChecked(this)" name="pokemonId" th:value="${pokemon.pokemonId}">
							<span>No.[[${pokemon.pokemonId}]] [[${pokemon.name}]] ([[${pokemon.score}]]점)</span>
						</label>
						<!-- <input onclick="countChecked(this)" type="checkbox" name="pokemonId" th:value="${pokemon.pokemonId}">
						<span>No.[[${pokemon.pokemonId}]] [[${pokemon.name}]] ([[${pokemon.score}]]점)</span> -->
					</li>
				</ul>
				</div>
				<div class="farmBtn">
					<button id="postBtn" disabled="disabled" class="nes-btn is-disabled">농장 보내기</button>
				</div>
			</form>
			</div>
		</div>	
	</div>


	</th:block>
</th:block>

<script src="/js/member/detail.js"></script>