<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/storagePokemon.css">

<th:block th:replace="~{/layout :: setFragment(~{this::content})}">
	<th:block th:fragment="content">
	
	<h2>유저 디테일 페이지임</h2>
	<div>
		<p>아이디 : [[${memberId}]]</p>
		<p>컨텐츠들</p>
		<div style="background-image:url(https://static.vecteezy.com/system/resources/previews/011/484/158/original/pixel-art-farm-landscape-with-barn-mill-fence-trees-8-bit-game-background-vector.jpg); background-size:contain; width: 600px; height: 200px; ">
			
			<button th:if="${session.loginMember != null && session.loginMemberId == memberId}" id="farmAddBtn">+</button>	
		</div>
		<div>랭킹 : [[${ranking}]] 등</div>
		<div>도감 : [[${per}]] %</div>
		<div>업적</div>
		<div>..?</div>
	</div>
	
	
	<div id="modal" class="modal">
		<div class="modal-content" id="modal-content">
			<span class="modal-close">&times;</span>
			<form th:action="|/farm/${memberId}|" method="post">
			<ul>
				<li th:each="pokemon:${list}">
					<input onclick="countChecked(this)" type="checkbox" name="pokemonId" th:value="${pokemon.pokemonId}">[[${pokemon.pokemonId}]]
				</li>
			</ul>
			<button id="postBtn" disabled="disabled">ㄱㄱ</button>
			</form>
		</div>	
	</div>

	</th:block>
</th:block>

<script src="/js/member/detail.js"></script>