<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/storagePokemon.css">

<th:block th:replace="~{/layout :: setFragment(~{this::content})}">
	<th:block th:fragment="content">
	
	<h2>유저 디테일 페이지임</h2>
	<div>
		<p>아이디 : [[${memberId}]]</p>
		
			<div>보상시간 : [[${endDate}]]</div>
			<div>현재시간 : [[${now}]]</div>
			
		<div style="background-image:url(https://img.freepik.com/premium-vector/pixel-art-game-background-grass-sky-clouds_210544-60.jpg); background-size:contain; width: 600px; height: 400px; ">
			
			<!-- 농장 등록시 등록한 포켓몬 표시 -->
			<th:block th:if="${farm != null}">
			
				
					<div>등록시간 : [[${farm.regDate}]]</div>
				
					<br><br>
					
					<img th:src="${image[0]}">
					<img th:src="${image[1]}">
					<img th:src="${image[2]}">
					<img th:src="${image[3]}">
					<img th:src="${image[4]}">
					
					<th:block th:if="${session.loginMember != null && session.loginMemberId == memberId}">
						<!-- 타이머 -->
						<br>
						<!-- <a th:if="${rnTime > 0}" th:data-value="${rnTime}" id="timer">보상까지 남은시간 : [[${rnTime}]]</a> -->
						<!-- <input type="text" id="timer" th:value="${rnTime}" th:if="${rnTime > 0}"> -->
						 
						<input type="text" id="min" th:value="${rnTime/60}" th:if="${rnTime > 0}"> 
						<input type="text" id="sec" th:value="${rnTime%60}" th:if="${rnTime > 0}"> 
						
						<!-- 타이머 시간 끝 -->
						<th:block th:if="${rnTime <= 0}">	
							<form th:action="|/farm/del/${memberId}|" method="post">
								<button id="farmDelBtn" style="visibility: visible;">보상받기</button>						
							</form>					
						</th:block>
					</th:block>
		
			</th:block>
			
			<th:block th:if="${farm == null}">
				<button th:if="${session.loginMember != null && session.loginMemberId == memberId}" id="farmAddBtn">+</button>	
			</th:block>
			
		</div>
		<div>랭킹 : [[${ranking}]] 등</div>
		<div>도감 : [[${per}]] %</div>
	</div>
	
	
	<div id="modal" class="modal">
		<div class="modal-content" id="modal-content">
			<span class="modal-close">&times;</span>
			
			<form th:action="|/farm/add/${memberId}|" method="post">
				<ul>
					<li th:each="pokemon:${list}">
						<input onclick="countChecked(this)" type="checkbox" name="pokemonId" th:value="${pokemon.pokemonId}">
						No.[[${pokemon.pokemonId}]] [[${pokemon.name}]] ([[${pokemon.score}]]점)
					</li>
				</ul>
				<button id="postBtn" disabled="disabled">농장 보내기</button>
			</form>
		</div>	
	</div>

	</th:block>
</th:block>

<script src="/js/member/detail.js"></script>