<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/memberLogin.css">
<link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
<meta charset="utf-8">

<title>로그인</title>
</head>
<body>
<div class="login-box">

	<div class="nes-container">
		
		<form th:action="|/login?rd-url=${url}|" method="post">
		<div class="nes-field">
			<label for="memberId">아이디</label>
			<input type="text" id="memberId" name="memberId" class="nes-input">
		</div>
		<div class="nes-field">
			<label for="memberId">비밀번호</label>
			<input type="password" id="password" name="password" class="nes-input">
		</div>
			<div class="text-box">
				<span><a>아이디 찾기</a></span>
				<span><a>비밀번호 찾기</a></span>
				<span><a href="/register">회원가입</a></span>
			</div>
			<div class="btn-box">
				<button class="nes-btn is-success" type="submit">로그인</button>
			</div>
		</form>
	</div>
</div>

</body>
</html>