<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/memberLogin.css">
<meta charset="utf-8">
	<link
		rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.jade.min.css"
	/>
<title>로그인</title>
</head>
<body>
	<div class="login-container">
		<div class="login-box">
			<h2><a href="/">POKE</a></h2>
			<form th:action="|/login?rd-url=${url}|" method="post">
				<label> 아이디 <input name="memberId"></label>
				<label> 비밀번호 <input type="password" name="password"></label>
				<div>
					<span><a>아이디 찾기</a></span>
					<span><a>비밀번호 찾기</a></span>
					<span><a>회원가입</a></span>
				</div>
				<button type="submit">로그인</button>
			</form>
		</div>
	</div>
</body>
</html>