<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<link href="/css/member/register.css" rel="stylesheet" />

<th:block th:replace="~{/layout :: setFragment(~{this::content})}">
	<th:block th:fragment="content">
	<div class="nes-container with-title container" style="width:500px">
	  	<p class="title" style="font-size:30px;margin-top:-40px;background-color: rgb(206, 231, 249);">회원가입</p>	
		
		
	
		<form action="/register" method="post" enctype="multipart/form-data" autocomplete="off">
			<div class="nes-field">
				<label for="memberId">아이디<span class="nes-text" id="memberIdSpan"></span></label>
				<div class="flex-box">
			  		<input type="text" id="memberId" name="memberId" class="nes-input">
			  		<button type="button" id="idCheckBtn" class="nes-btn is-success">중복 확인</button>
				</div>
			
				<div class="input-box">
					<label for="password">비밀번호<span class="nes-text" id="passwordSpan"></span></label>	
		  			<input type="password" id="password" name="password" class="nes-input">
				</div>
			
				<div class="input-box">
					<label for="password2">비밀번호 확인<span class="nes-text" id="password2Span"></span></label>
			  		<input type="password" id="password2" name="password2" class="nes-input">
	  			</div>
	  			
	  		
				<label for="nickname">닉네임<span class="nes-text" id="nicknameSpan"></span></label>
		  		<div class="flex-box">
			  		<input type="text" id="nickname" name="nickname" class="nes-input ">
			  		<button type="button" id="nicknameCheckBtn" class="nes-btn is-success">중복 확인</button>
	  			</div>
	  			<div class="input-box">
					<label for="email">이메일<span class="nes-text" id="emailSpan"></span></label>
			  		<input type="text" id="email" name="email" class="nes-input">
				</div>
			</div>
				
			<div class="profile-box">
				<div id="img">
					<img class="profileImage" src="/upload/profile/default/default.png">
				</div>
				<div class="btn-box">			
					<button class="nes-btn is-primary" type="button" id="trigger">프로필 이미지 선택</button>
					<button class="nes-btn is-error" type="button" id="resetBtn">프로필 이미지 초기화</button>
					<button class="nes-btn is-warning" id="submitBtn" type="button">회원가입</button>
				</div>
			</div>
			<div id="inputDiv">
				<input type="file" name="profile" id="profile" accept="image/jpeg,image/jpg,image/png" style="display:none;">
			</div>
		</form>
	</div>
	
	
	</th:block>
</th:block>
<script src="/js/memberRegister.js"></script>