<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<link href="/css/member/register.css" rel="stylesheet" />

<th:block th:replace="~{/layout :: setFragment(~{this::content})}">
	<th:block th:fragment="content">
	<div class="nes-container with-title container" style="width:25%">
	  	<p class="title" style="font-size:30px;margin-top:-40px">회원가입</p>	
		
		
	
		<form action="/register" method="post" enctype="multipart/form-data">
			<div class="nes-field with">
				<label for="memberId">아이디</label>
		  		<input type="text" id="memberId" name="memberId" class="nes-input">
			</div>
			<div class="nes-field">
				<label for="password">비밀번호</label>	
	  			<input type="password" id="password" name="password" class="nes-input">
			</div>
			<div class="nes-field">
				<label for="password2">비밀번호 확인</label>
		  		<input type="password" id="password2" name="password2" class="nes-input">
	  		</div>
	  		<div class="nes-field">
				<label for="name">이름</label>
		  		<input type="text" id="name" name="name" class="nes-input">
	  		</div>
	  		<div class="nes-field">
				<label for="nickname">닉네임</label>
		  		<input type="text" id="nickname" name="nickname" class="nes-input">
  			</div>
  			<div class="nes-field">
				<label for="email">이메일</label>
		  		<input type="text" id="email" name="email" class="nes-input">
			</div>
			
				
			<div>
				<div id="inputDiv">
					<input type="file" name="profile" id="profile" accept="image/jpeg,image/jpg,image/png" style="display:none;">
				</div>
				<div id="img">
					<img class="profileImage" src="/upload/profile/default/default.png">
				</div>
				<button type="button" id="trigger">프로필 이미지 선택</button>
				<button type="button" id="resetBtn">프로필 이미지 초기화</button>
			</div>
			<button id="submitBtn" type="submit">가입</button>
		</form>
	</div>
	
	
	</th:block>
</th:block>
<script src="/js/memberRegister.js"></script>