@charset "UTF-8";

.product-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product{
    width: 400px;
    text-align: center;
    
}
.product-img{
    width: 200px;
    image-rendering: pixelated ;
}