<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="/css/store/store.css" rel="stylesheet" />
<th:block th:replace="~{/layout :: setFragment(~{this::content})}">
	<th:block th:fragment="content">
	<div class="nes-container with-title container" style="width:60%">
	<p class="title" style="font-size:30px;margin-top:-40px">상점</p>
	<div class="product-container">
		<div class="product" th:each="pvo:${list}">
			<img class="product-img" th:src="|/image/${pvo.name}.png|"><br>
			<a th:href="|/store/${pvo.productId}|" class="">
			  <span class="is-dark">[[${pvo.name}]]</span>
			</a>
		
			
		</div>
	</div>
	
	</div>
	</th:block>
</th:block>