<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="/css/store/store.css" rel="stylesheet" />
<th:block th:replace="~{/layout :: setFragment(~{this::content})}">
	<th:block th:fragment="content">
	<p class="title" style="font-size:30px;margin-top:-40px">상점</p>
	<div class="product-container">
		<div class="product" th:each="pvo:${list}">
			<img class="product-img" src="/image/yello.png"><br>
			<a th:href="|/store/${pvo.productId}|" class="nes-badge is-icon">
			  <span class="is-warning">a</span>
			  <span class="is-dark">[[${pvo.name}]]</span>
			</a><br>
			
		</div>
	</div>
	
	</th:block>
</th:block>