<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout :: setFragment(~{this::content})}">
<th:block th:fragment="content">
	<p class="title" style="font-size:30px;margin-top:-40px">'[[${memberId}]]'의 팩 보관함</p>
	
	<div role="group">
		<button th:onclick="|location.href='@{/storage/{memberId}/item(memberId=${session.loginMemberId})}'|">팩 보관함</button>
		<button class="outline" th:onclick="|location.href='@{/storage/{memberId}/pokemon(memberId=${session.loginMemberId})}'|">포켓몬 보관함</button>
	</div>
	<div>
		<!-- <video src="/upload/video/Pokeball Animation.mp4" autoplay muted></video> -->
	</div>
	<div id="itemBox">

	</div>

</th:block>
</th:block>
<script th:inline="javascript">
	const memberId = [[${memberId}]]
</script>
<script src="/js/storageItem.js"></script>
