<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/storagePokemon.css">
<th:block th:replace="~{/layout :: setFragment(~{this::content})}">
<th:block th:fragment="content">
	<div>
	
	<h2>'[[${memberId}]]'의 포켓몬 보관함</h2>
	<input type="text" id="searchBox" placeholder="번호 또는 이름 입력">
	<input type="checkbox" id="notAddedBtn"><label for="notAddedBtn">도감에 없는 포켓몬만 보기</label>
	<div id="pokemonBox">
	</div>

	<div id="modal" class="modal">
		<div class="modal-content" id="modal-content">
			<span class="modal-close">&times;</span>
			
		</div>	
	</div>
	</div>


</th:block>
</th:block>
<script th:inline="javascript">
	const memberId = [[${memberId}]]
</script>
<script src="/js/storagePokemon.js"></script>
