@charset "UTF-8";

.img-box{
    width: 350px;
}
.pokemon-card{
  width: 130px;
  height: 150px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  
  position: absolute;
  top: 90px;
  left: 45px;
  z-index: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  

  animation-name: color;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.pokemon-card img{
  width: 100px;
  height: 100px;
  image-rendering: pixelated;
  z-index: 1;
  position: relative;
}
.bd{
  width: 50%;
  animation-name: move;
  animation-duration: 2s;
  animation-delay: 2.5s;
  z-index: 10;
  position: relative;
}
.hd {
  width: 50%;    
  animation-name: open;
  animation-duration: 3s;
  animation-delay: 1s;
  z-index: 10;
  position: relative;
}

  @keyframes open {

    0% {
      transform-origin: 100% 100%; 
    }
    5%{
      transform-origin: 100% 100%;
      border-radius: 0 20% 0 40%;
    }
    20%{
      transform-origin: 100% 100%;
      border-radius: 0 20% 0 70%;
    }

    30%{
      transform-origin: 100% 100%;
      border-radius: 0 20% 0 80%;
      transform: skewX(-45deg) skewY(20deg) translateY(10px)rotateX(10deg) ;
      opacity: 100%;
    }

    50% {
      transform-origin: 100% 100%;
      border-radius: 0 20% 0 50%;
      transform: scale(80%) skewX(-45deg) skewY(20deg) translateY(-55px) rotateX(10deg) rotateZ(90deg) ;
      opacity: 0%;
    }
    100% {
      transform-origin: 100% 100%;
      border-radius: 0 20% 0 50%;
      transform: scale(80%) skewX(-45deg) skewY(20deg) translateY(-55px) rotateX(10deg) rotateZ(90deg) ;
      opacity: 0%;
    }
  }

  @keyframes move {
    0%{

    }
    100%{
      transform: translateY(500px);
      opacity: 0%;
    }
  }
  @keyframes color {
    0%{
      box-shadow: 0px 0px 40px 10px orange;
    }
    50%{
      box-shadow: 0px 0px 30px 10px rgb(255, 237, 173);
    }
    100%{
      box-shadow: 0px 0px 60px 20px rgb(254, 135, 31)
    }
  }