@charset "UTF-8";
	@font-face{
		font-family : 'dgm';
		src : url('/font/dgm.ttf')
	}
	body{
		font-family : 'dgm'
	}
	.profileImage{
		width:44px;
		height:44px;
		border: 1px solid transparent;
		border-radius:50%;
	}

	nav{
		display: flex;
		justify-content: space-between;
		width: 60%;
		margin: auto;
		margin-top: 30px;
		margin-bottom: 50px;
	}
	nav ul{
		display: flex;
		list-style-type: none;
		text-align: center;
		padding : 0;
		margin: 0;
		
	}
	nav ul li{
		padding-left : 15px;
		padding-right : 15px;
		display:grid;
		place-items: center;
		height: 84px;
	}
	nav ul li a{
		width: 84px;
	}

	.container{
		margin: auto;
	}
	body{
		background: none;
	}


