@charset "UTF-8";

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

/* The Close Button */
.modal-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.pokemon-card{
        width: 208px;
        height: 250px;
        text-align: center;
        background-color: rgba(128, 142, 155, 0.049);
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        float: left;
        box-sizing: border-box;
        border-radius: 15px;
        box-shadow: 2px 3px 10px 1px rgba(0, 0, 0, 0.155);
    }

    .pokemon-card img{
        width: 192px;
        height: 192px;
        image-rendering: pixelated;
    }
    #pokemonBox{
		margin-top : 30px;     
    }

    #searchBox{
        width: 30%;
        height: 50px;
    }