<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="/css/index.css" rel="stylesheet" />
<th:block th:replace="~{/layout :: setFragment(~{this::content})}">
	<th:block th:fragment="content">
<!-- 	<div class="anime-box">
	    
	</div>
	<div class="nes-container with-title container" style="width:60%">
		<p class="title" style="font-size:30px;margin-top:-40px;background-color: rgb(206, 231, 249);">인덱스</p>	
		
		<button onclick="start()">시작</button>
		
		<a href="/kptest">asfd</a>
		
		<button th:if="${thth}">보이나 안보이나</button>
		 -->
			
		
		
		
		
		
		<!-- <input type="text" id="pno" disabled><button disabled onclick="setPokemon()">포켓몬추가</button>
		<hr>
		<input id="start" placeholder="start"><input id="end" placeholder="end">
		<br> <input id="print" placeholder="print"><br>
		<button type="button" id="aa">숫자 출력</button> -->


	</div>
	</th:block>
</th:block>
<script src="/js/index.js"></script>
<script>

/* 
document.getElementById('aa').addEventListener('click',()=>{
    let start = document.getElementById('start').value
    let end = document.getElementById('end').value
    let print = document.getElementById('print')
    for(i=start; i<=end; i++){
        print.value += i+","
    }
})

	
async function getPokemonKorean(pokemonId){
    try {
        const url = "https://pokeapi.co/api/v2/pokemon-species/"+pokemonId
        const resp = await fetch(url)
        const result = await resp.json();
        return result;
    } catch (error) {
        console.log(error)
    }
}

async function getPokemonAPI(pokemonId){
	try{
		const url = "https://pokeapi.co/api/v2/pokemon/"+pokemonId
		const resp = await fetch(url)
		const result = await resp.json()
		return result
	}catch(error){
		console.log(error)
	}
}
async function getPokemon_speciesAPI(pokemonId){
	try{
		const url = "https://pokeapi.co/api/v2/pokemon-species/"+pokemonId
		const resp = await fetch(url)
		const result = await resp.json()
		return result
	}catch(error){
		console.log(error)
	}
}

async function setPokemon(){
	let pno = document.getElementById('pno').value
	let pokemons = []
    for(let i=1; i<=pno; i++){
    	let pokemonAPI = await getPokemonAPI(i)
    	let pokemon_speciesAPI = await getPokemon_speciesAPI(i)
    	
        let pokemonKorean = pokemon_speciesAPI
        
        let height = pokemonAPI.height
        let weight = pokemonAPI.weight   
        
        let pokemonGenera = pokemon_speciesAPI.genera
        let genus = pokemonGenera[1].genus	
        
        let pokemonTypes = pokemonAPI.types
    	let type = '';
        
    	//타입(한글)
        for(t of pokemonTypes){
        	let url = t.type.url;
     
        	let resp = await fetch(url)
        	let result = await resp.json()
     
        	type += result.names[1].name+","
        }
        
        type = type.substring(0, type.lastIndexOf(","));
        
        let pokemonStats = pokemonAPI.stats
        let stats = 0;
              
        for(stat of pokemonStats){
        	stats += stat.base_stat
        }
        
    	let pokemon_id = i
        let name = pokemonKorean.names[2].name
        let flavor
        for(f of pokemonKorean.flavor_text_entries){
        	if(f.language.name == "ko"){
        		flavor = f.flavor_text.replaceAll("\n",' ')  		
        	}
        }
    	
        let image = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${i}.png`
        
        let pokemon = {
            pokemonId : pokemon_id,
            name : name,
            image : image,
            flavor : flavor,
            score : stats,
            height : height,
            weight : weight,
            genus : genus,
            type : type
        }
        pokemons.push(pokemon)
    }
	
    const url = "/pokemon-init"
    const config = {
        method : "put",
        headers : {
            "content-type" : "application/json; charset=utf-8",
        },
        body : JSON.stringify(pokemons)
    }
    const resp = await fetch(url,config)
    const result = await resp.text()
    alert(result+"개 포켓몬 추가완료")   
} */
</script>
