<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout :: setFragment(~{this::content})}">
	<th:block th:fragment="content">
	
	<h1>메인화면</h1>
	<input type="text" id="pno" disabled><button disabled onclick="setPokemon()">포켓몬추가</button>
	<hr>
		
	
	</th:block>
</th:block>

<script>

	
async function getPokemonKorean(pokemonId){
    try {
        const url = "https://pokeapi.co/api/v2/pokemon-species/"+pokemonId
        const resp = await fetch(url)
        const result = await resp.json();
        return result;
    } catch (error) {
        console.log(error)
    }
}

async function getPokemonStats(pokemonId){
    try {
        const url = "https://pokeapi.co/api/v2/pokemon/"+pokemonId
        const resp = await fetch(url)
        const result = await resp.json();
        return result.stats;
    } catch (error) {
        console.log(error)
    }
}


async function setPokemon(){
	let pno = document.getElementById('pno').value
	let pokemons = []
    for(let i=1; i<=pno; i++){
        let pokemonKorean = await getPokemonKorean(i)
       
        let pokemonStats = await getPokemonStats(i)
        let stats = 0;
        for(stat of pokemonStats){
        	stats += stat.base_stat
        }
    	let pokemon_id = i
        let name = pokemonKorean.names[2].name
        let flavor
        for(f of pokemonKorean.flavor_text_entries){
        	if(f.language.name == "ko"){
        		flavor = f.flavor_text.replaceAll("\n",' ')  		
        	}
        }
        let image = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${i}.png`
        
        let pokemon = {
            pokemonId : pokemon_id,
            name : name,
            image : image,
            flavor : flavor,
            score : stats
        }
        pokemons.push(pokemon)
    }
    const url = "/pokemon-init"
    const config = {
        method : "put",
        headers : {
            "content-type" : "application/json; charset=utf-8",
        },
        body : JSON.stringify(pokemons)
    }
    const resp = await fetch(url,config)
    const result = await resp.text()
    alert(result+"개 포켓몬 추가완료")   
}
</script>
