<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="setFragment(content)">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<a href="/">인덱스로</a>
	<a href="/store">store로</a>
	<a href="/register">회원가입폼</a>
	<a th:if="${session.loginMember == null}" href="/login">로그인폼</a>
	<form th:unless="${session.loginMember == null}" th:action="@{/logout}" method="post">	
		<button type="submit">로그아웃</button>
	</form>
	<br>
	[layout시작]
	<hr>
	<div>
		<th:block th:replace="${content}"></th:block>
	</div>
	<hr>
	[layout끝]
</body>
</th:block>
</html>