<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="setFragment(content)">
	<head>
	<meta charset="UTF-8">
	
	<!-- 8비트느낌 -->
	<link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
	<link href="/css/layout.css" rel="stylesheet" />
	
	<title>Poke</title>
	</head>
	
	<body>
	<nav>
	<ul>
		<li><a href="/"><i class="nes-pokeball"></i></a></li>
	</ul>
	<ul>
		<li><a class="nes-btn" href="/board/list">게시판</a></li>
		<li><a class="nes-btn" href="/store">상점</a></li>
		<li><a class="nes-btn" th:href="|@{/pokedex/{memberId}(memberId=${session.loginMemberId})}|">도감</a></li>
		<li><a class="nes-btn" href="/market">거래소</a></li>
		<li><a class="nes-btn" href="/ranking">랭킹</a></li>
		<li><a class="nes-btn" th:href="|@{/storage/{memberId}(memberId=${session.loginMemberId})}|">보관함</a></li>
	</ul>
	<ul>
		<li><a class="nes-btn" th:if="${session.loginMember == null}" href="/login">로그인</a></li>
		<!-- <li><a class="nes-btn" th:if="${session.loginMember == null}" href="/register">회원가입</a></li> -->
		<li th:unless="${session.loginMember == null}">
			
				<ul dir="rtl">
					<li><a th:href="|@{/my/charge}|">충전</a></li>
					<li><a th:href="|@{/my/purchases}|">구매내역</a></li>
					<li><a th:href="|@{/my/purchases/points}|">충전내역</a></li>
					<li><a th:href="|@{/my/market/on-sale}|">판매관리</a></li>
					<li><a th:href="|@{/my/market/trade}|">거래내역</a></li>
					<li><a th:href="|@{/my/account}|">프로필 수정</a></li>
					<li><a href="#" id="logoutBtn">로그아웃</a></li>
				</ul>

		</li>
	</ul>
	
	</nav>
		<div class="container" style="width:60%">
			<th:block th:replace="${content}"></th:block>
		</div>
	</body>
<script src="/js/layout.js"></script>
</th:block>
</html>