@charset "UTF-8";
.gray{
	filter:grayscale(100%);
}

#search{
	width: 200px;
}
.input-box{
	margin-right: 20px;
}

.box-container{
	display: flex;
	margin-bottom: 20px;
}
.table-box{
	text-align: center;
}
.flavor{
	text-align: left;
}