<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<style>
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.paging{
	text-align: center;
}

.paging li{
	display: inline-block;
}

</style>

<th:block th:replace="~{/layout :: setFragment(~{this::content})}">
	<th:block th:fragment="content">
		<div class="nes-container with-title container" style="width:60%">
	<p class="title" style="font-size:30px;margin-top:-40px;background-color: rgb(206, 231, 249);">랭킹</p>
	

		<button type="button" id="insert" class="nes-btn is-primary">업데이트</button><br>

		<h4>유저 수 : [[${cnt}]]</h4>

		<form action="/ranking">
			<input type="text" name="keyword" placeholder="아이디"  class="nes-input" style="width: 488px;">
			<button type="submit" id="search" class="nes-btn is-success">검색</button>
		</form><br>

		<div>
			<ul>
			
				<li th:each="member:${ranking}">
					<!-- 랭킹 반영 안된 사람들은 표시 x --> 
					<th:block th:if="${member.ranking > 0}">
						<span>[[${member.ranking}]]등 :</span> 
						<span><a th:href="|/member/${member.memberId}|">[[${member.memberId}]]</a></span> 
						<span>( [[${member.score}]]점 )</span>
						<div>
							<progress class="nes-progress is-success" th:value="${member.score}" max="204451" style="width: 980px;"></progress>
						</div>
					</th:block>
				</li>
				
				<th:block th:if="${ranking.size == 0}">
					검색결과가 없습니다.
				</th:block>
				
			</ul>

			<th:block th:if="${pagingVO.keyword == null}">
			
				<ul class="paging">
				
					<li th:if="${ph.prev}">
						<a th:href="|/ranking?pageNo=${ph.startPage-1}|" class="nes-text is-error">이전</a>
					</li>
					
					<li th:each="i: ${#numbers.sequence(ph.startPage,ph.endPage)}">
						<a th:href="|/ranking?pageNo=${i}|">[[${i}]]</a>
					</li>
					
					<li th:if="${ph.next}">
						<a th:href="|/ranking?pageNo=${ph.endPage+1}|"  class="nes-text is-error">다음</a>
					</li>
					
				</ul>
				
			</th:block>
			
		</div>

		<br>

</div>
	</th:block>
</th:block>

<script src="/js/ranking/register.js"></script>
