<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<style>




ul {
	list-style: none;
}


a{
	text-decoration: none;
}

ul li{
	float: left;
}

</style>

<th:block th:replace="~{/layout :: setFragment(~{this::content})}">
	<th:block th:fragment="content">
		<h2>랭킹 페이지임</h2>

		<h4>유저 수 : [[${cnt}]]</h4>
		
		<div>
			<ol>
				<li th:each="mvo:${list}">
				[[${mvo.memberId}]]([[${mvo.name}]]) / 점수 : [[${mvo.score}]]
				</li>
			</ol>
			
			<ul>
				<li>이전</li>
				<li th:each="i: ${#numbers.sequence(ph.startPage,ph.endPage)}">
					<a th:href="|/ranking?pageNo=${i}|"><[[${i}]]></a>
				</li>
				<li>다음</li>
			</ul>
		</div>
		
		<br>
		
			
	</th:block>
</th:block>