<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<style>
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.paging li {
	float: left;
}
</style>

<th:block th:replace="~{/layout :: setFragment(~{this::content})}">
	<th:block th:fragment="content">
		<h2>랭킹 페이지임</h2>

		<button type="button" id="insert">슛</button>

		<h4>유저 수 : [[${cnt}]]</h4>

		<div>
			<ul>
				<li th:each="ranking:${ranking}">
					<!-- 랭킹 반영 안된 사람들은 표시 x --> 
					<th:block th:if="${ranking.ranking > 0}">
						[[${ranking.ranking}]]등 : [[${ranking.memberId}]]
					</th:block>
				</li>
			</ul>

			<ul class="paging">
				<li>이전</li>
				<li th:each="i: ${#numbers.sequence(ph.startPage,ph.endPage)}">
					<a th:href="|/ranking?pageNo=${i}|"><[[${i}]]></a>
				</li>
				<li>다음</li>
			</ul>
		</div>

		<br>


	</th:block>
</th:block>

<script src="/js/ranking/register.js"></script>