<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="/css/market/list.css" rel="stylesheet">
<th:block th:replace="~{layout :: setFragment(~{this::content})}">
	<th:block th:fragment="content">
		<div class="nes-container with-title container" style="width:60%">
			<p class="title" style="font-size:30px;margin-top:-40px;background-color: rgb(206, 231, 249);">거래소</p>
			<div id="input_btn">
				<input id="searchBox" type="text" class="nes-input" placeholder="번호 또는 이름 입력">
				<button class="nes-btn" th:onclick="|location.href='@{/my/market/on-sale}'|">판매관리</button>
			</div>
			<div id="itemZone">
			</div>
		</div>
		
		<button id="more" style="display:none">+</button>
	</th:block>
</th:block>
<script th:inline="javascript">
let loginMemberId = [[${session.loginMemberId}]]
</script>
<script src="/js/marketList.js"></script>