<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/marketRegister.css">
<th:block th:replace="~{/layout :: setFragment(~{this::content})}">
<th:block th:fragment="content">
	<p class="title" style="font-size:30px;margin-top:-40px">물품 등록</p>
	
	<button type="button" id="modal-open">포켓몬선택</button>
		<div id="pokemonDetail">
		</div>
		<form action="/market" method="post">
			<input type="hidden" name="storageId" id="storageId">
			<input type="hidden" name="pokemonId" id="pokemonId">
			<input type="hidden" name="memberId" id="memberId">
			가격 : <input type="text" name="price" id="price">
			<button type="submit">등록</button>
		</form>
	<div id="modal" class="modal">
	  <div class="modal-content">
	    <span class="modal-close">&times;</span>
	    <th:block th:each="pokemon : ${list}">
	    	<img th:src="${pokemon.image}" th:data-storageId="${pokemon.storageId}" class="pokemon">
	    </th:block>
	  </div>
	
	</div>
</th:block>
</th:block>
<script th:inline="javascript">
	let list = [[${list}]]
</script>
<script src="/js/marketRegister.js"></script>