@charset "UTF-8";


.flex-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.flex-box input{
    width: 300px;
}

.input-box{
    margin-bottom: 20px;
}

/* body{
    background-image: url('https://images5.alphacoders.com/608/608323.png'); 
} */

.nes-field label{
    margin-bottom: 3px;
}

.profile-box{
    margin-top: 40px;
}
.profileImage{
    width:80px;
    height:80px;
    border: 1px solid transparent;
    border-radius:50%;
}

.btn-box{
    display: inline-block;
    margin-bottom: 10px;
    text-align: center;

}
.btn-box button{
    margin-top: 30px;
    width: 200px;
}

#img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}